
form{
    margin: 0 auto;
    max-width: 500px;
}

[class^="col"]{
    padding-top: 1rem;
}

[type^="text"]{
    min-width: 200px;
}

.form-label{
    display: block;
    width: fit-content;
    margin: 0;
    width: 200px;
}

#btn-submit{
    width: fit-content;
    margin: 1rem auto;
    justify-content: center;
}

.form-input{
    max-width: fit-content;
}

.card-body{
    background-color:  #bdbdbd;
    margin: 3rem auto;
    padding: 1rem 4rem !important;
    border: 2px #000000 solid;
    border-radius: 15px;
    max-width: 30vw;
    min-width: fit-content;
    
    h5{
        padding: 1rem 0;
    }

    p{
        margin-bottom: 0.5rem;
    }


}

@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

